/*
ESTILOS INDEX
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
    width: 100%;
    /*height: auto;*/
    height: 1400px;
}

a {
    text-decoration: none;
}

.nav-index{
    color: white;
}

.nav-options{
    color: rgb(48, 66, 84);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.h1 {
    font-size: 85px;
    animation:  opacityAnim .5s ease-out;
}


.h1-2 {
    font-size: 120px;
}

.text-1 {
    font-size: 25px;
}

.rotated-title-size {
    font-size: 160px;
    animation: opacityAnim 1.5s ease-out;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: black;

}

.container-options {
    margin-left: auto;
}

.container-landing {
    margin: 0;
    max-width: 1920px;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-bar ul li {
    display: inline;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-bar ul li a{
    transition: all 300ms;
}

.nav-bar ul li a:hover {
    color: #bbbbbb;
    transition: all 300ms;
}

.section {
    width: 100%;
    height: auto;
    margin: 25px 0;
    display: grid;
    justify-content: center;
}

.home-container {
    grid-template-columns: 750px 570px;
    gap: 10px;   
}

.head-landing h1 {
    margin-left: 220px;
    margin-top: -120px;
    
    font-size: 85px;
    line-height: 75px;
}

.head-landing img {
    margin-left: -20px;
    margin-top: 120px;
    
    width: 310px;
    height: 322px;
    object-fit: contain;
}

.about-container {
    display: grid;
    grid-template-columns: 550px 570px;
    gap: 120px;  
}

.about-col-img {
    width: 600px;
    height: 600px;
}

.about-col-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: -190px;
    animation: translateAnim 1s;
}

.about-col-img h1 {
    transform: rotate(90deg);
    position: relative;
    top: 240px;
    left: -270px;
}

.about-col-img div{
    position: absolute;
    overflow: hidden;
    width: 600px;
    height: 1000px;
}

.about-col-text {
    margin-top: 390px;
}

.work-container {
    display: grid;
    grid-template-columns: 590px 600px;
    gap: 60px;  
}

.work-col-img h1 {
    transform: rotate(-90deg);
    position: relative;
    top: 350px;
    left: 300px;
}

.work-col-img {
    width: 600px;
    height: 280px;

    margin-top: -190px;
}

.work-col-img img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.work-col-text {
    margin-top: 310px;
}

.container-services {
    width: 1300px;
    height: auto;
}

.container-services h1 {
    margin-top: 150px;
}

.col-services {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 25px;
    margin-bottom: 80px;
}

.service {
    position: relative;
    width: 100%;
    height: 480px;
    cursor: pointer;
    opacity: 0.8;
}

.bg-container {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 28px;
    text-shadow: 1px 1px 15px black;
}

.proximamente {
    bottom: 0;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
    border-radius: 50px;
    border: 1px solid #bbbbbb;
}

.content-container {
    width: 100%;
    padding: 25px;

    color: black;
    background-color: white;
}

.container-info {
    width: 1200px;
}

.container-info video {
    width: 100%;
    height: 435px;
    object-fit: cover;
}

.col-info {
    display: grid;
    grid-template-columns: 430px 720px;
    gap: 60px;
    margin-top: 40px;
}

.h1-3 {
    font-size: 53px;
}

.pt-3 {
    padding-top: 35px;
}

.lh-3 {
    line-height: 80px;
}

.text-info {
    line-height: 30px;
}

.text-info h4 {
    font-size: 22px;
}

.text-info p {
    font-size: 18px;
    margin-bottom: 25px;
}

.contact-info {
    display: grid;
    grid-template-columns: 650px 430px;
}

.contact-info img {
    width: 700px;
    height: 714px;
    object-fit: contain;
    transform: rotate(-3deg);
    margin-top: -150px;
    margin-left: -120px;
}

.contact-us-title {
    width: 430px;
    height: 73px;
    border-radius: 50px;
    display: flex;

    background-color: #192362;
    color: white;
    font-size: 20px;

    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 75px;
}

.contact-buttons ul {
    list-style: none;
}

.contact-buttons ul li {
    font-size: 24px;
    padding-left: 15px;
    margin: 10px 0;
    color: #192362;
}

.contact-buttons ul li p a {
    color: #192362;
}

@media(max-width: 1400px) {
    .container-services {
        width: 100%;
    }

    .col-services {
        grid-template-columns: repeat(3, 320px);
        justify-content: center;
    }
}

@media(max-width: 1050px ){
    .col-services {
        grid-template-columns: repeat(2, 320px);
        justify-content: center;
    }
}

@media(max-width: 700px ){
    .col-services{
        grid-template-columns: repeat(1, 320px);
        justify-content: center;
    }
}

@media (min-width: 1050px) {
    .head-landing {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .head-landing {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

/*
main Animations
*/
 @keyframes opacityAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes translateAnim {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/*
ESTILOS SOCIAL MEDIA
*/

.social-media {
    background-color: 
    #93a8fe;
}
